.App {
  background-color: #70a49f;
  height: 100vh;
}

/* .App h1, .App h2 {
  margin-bottom: 20px;
}

.App form {
  background-color: #2e2e50;
  border-radius: 10px;
  padding: 30px;
}

.App form label {
  color: #4D4472;
}

.App form .btn-primary {
  background-color: #333366;
  border: none;
}

.App form .btn-primary:hover {
  background-color: #282957;
}

.App form a {
  color: #cccccc;
}

.App form a:hover {
  color: #ffffff;
} */
